/* FONTS */
@font-face{
    font-family: 'tagwal';
    src:url(../fonts/Tajawal-Regular.ttf);
}

/* GLOBAL STYLE */
h1,h2,h3,h4,h5,h6,a,p{
    font-family: 'tagwal', sans-serif;
}



/* START NAVBAR */
.navbar-nav {
    flex-direction: row-reverse !important;
}

.navbar .navbar-nav .nav-item .nav-link{


    font-family: 'tagwal';
}

/* Start Overview */
.overview-section p{
    text-align: right;
}

/* Start Slider */
#main-slider .carousel-caption{
    text-align: right;
}

/* Start News */
.news-section h5{
    text-align: right;
}

/* Start Executive */
.excutives-section .left-side .card-body{
    text-align: right;
}

.news-section .card-text{
    text-align: right;
}

/* Start Footer */
.footer h5, .footer h3{
    text-align: right;
}